<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <h2>Our Clients</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Ada.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/banglalink.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Pran.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/nagad.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Arong.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Magnito.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Mentors.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Robi.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/upay.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Vivo.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Asiatic.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Mindshare.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Tvs.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Walton.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Hero.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Teletalk.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Samsung.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Bikroy.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Doc-Time.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Adblive.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/adfinix.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Ad-mobilize.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/media-com.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Analyzan-bd.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/intellivision.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Fx-Gear.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Madly.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Papyrus.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Asiatic-talkpoint.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Asiatic-Mindshare.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Asiatic-360.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Grey-group.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Jarvis-digital.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Transsion-holding.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Alisha-mart.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/m-power.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->