<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="containers">
        <div class="slide">
            <div class="row">
                <div class="col-md-7">
                    <div class="slide-content">
                        <h2>DIGITAL ENGAGEMENTS</h2>
                        <p>Digital engagement is the process of interacting with 
                            potential <br>and existing customers through various digital 
                            channels to build <br>your relationship with them.
                        </p>
                        <a routerLink="/contact">
                            <button type="button" class="btn">Contact Us</button>
                        </a>
                    </div> 
                </div>
                <div class="col-md-5">
                    <div class="slide-image">
                        <img src="../assets/Images/Bg-5-01.png" alt="testimonial">
                    </div>    
                </div>
            </div>
        </div>
    </div> 
</section>
<!--MAIN BODY (PART-1) ENDS HERE-->

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="main-body-part2">
    <div class="containers">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>We serve several services including SEO, SEM, SMM, 
                        Web Development, App Development, Graphic Design, 
                        Logo Design, Social Media Kit, Video Marketing, 
                        Content Marketing, Email Marketing, and many more. 
                        Our company has more experience employees working 
                        in different sectors. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->

<!--MAIN BODY (PART-3) STARTS HERE-->
<section class="main-body-part3">
    <div class="containers">
        <div class="row">
            <div class="title">
                <h2>Why Choose Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="mb3-image">
                    <img src="../assets/Images/dmarkecy-work-flow.png" alt="Footer-Logo">
                </div>
            </div>
            <div class="col-md-7">
                <div class="client-count-wrp">
                    <div class="container">
                        <div class="client-count-wrp-inner">
                            <!--card-->
                            <div class="cards">
                                <h4>{{accuratecount + "%"}}</h4>
                                <!--concat % sign-->
                                <h1>Creative Approach</h1> 
                                <p>We're your local, friendly print shop. 
                                    Shop online today or inquire about our custom printing and 
                                    design services.
                                </p>
                            </div>
                            <!--card-->
                            <div class="cards">
                                <h4>{{clientcount+ "%"}}</h4>
                                <h2>Guaranteed Success</h2> 
                                <p>"Guaranteed Success” is actually a pretty decent 
                                    self-help book and not the sort of thing you would expect from a 
                                    hardcore rapper
                                </p>
                            </div>
                            <!--card-->
                            <div class="cards">
                                <h4>{{customerfeedback + "%"}}</h4>
                                <h3>Grow Your Business</h3> 
                                <p>We are 100% ready to Grow Your Business with our 
                                    Services, Just Chose from our services page what you need
                                </p>
                            </div>
                            <!--card-->
                        </div>
                    </div>              
                </div>         
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-3) ENDS HERE-->

<!--MAIN BODY (PART-4) STARTS HERE-->
<section class="main-body-part3">
    <div class="containers">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>We've been providing a wide range of services to clients 
                        of all industries since 2016. Our digital marketing services 
                        include consulting and management options for a variety of 
                        online marketing tactics. We also offer expert Web Design and 
                        Development Services for both e-Commerce and B2B companies. 
                        Don't just partner with any digital marketing agency; work with 
                        a company you can trust.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb4-image">
                    <img src="../assets/Images/new-we-offer.png">
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-4) ENDS HERE-->

<!--MAIN BODY (PART-5) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../assets/Images/seo.png" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h1>Search Engine Optimization</h1>
                        <p>As a Best SEO Agency, we are highly skilled and experienced 
                            in the world of Search Engine Optimization. We’ve done 500+ 
                            real-life projects on local and international platforms.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../assets/Images/sem.png" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h1>Search Engine Marketing</h1>
                        <p>Search engine marketing is a form of Internet marketing 
                            that involves the promotion of websites by increasing their 
                            visibility in search engine results pages primarily through 
                            paid advertising.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../assets/Images/smm.png" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h1>Social Media Marketing</h1>
                        <p>Social media marketing is the fastest online marketing 
                            platform all over the world. We work with you to grow 
                            your business through Facebook, Instagram, Twitter, LinkedIn, 
                            Pinterest & other niche social platforms.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../assets/Images/email-marketing.png" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h1>Email Marketing</h1>
                        <p>Email marketing is a digital marketing approach that 
                            thousands of organizations use to increase brand awareness 
                            & develop client connections. We are providing one of the 
                            Best Email Marketing services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../assets/Images/lead.png" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h1>Lead Generation</h1>
                        <p>We have a project management team at Lead 
                            Generation that will help you develop custom 
                            lead generation campaigns. They take a multi-channel 
                            approach.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../assets/Images/video editing.png" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h1>Video Making</h1>
                        <p>Elevate your digital marketing efforts by leveraging the power 
                            of video. We are a dedicated video production company that 
                            delivers high-quality video content from start to finish.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="image">
                            <img src="../assets/Images/graphic-design.png" alt="Product">
                        </div>
                    </div>
                    <div class="content">
                        <h1>Graphics Design</h1>
                        <p>Our designers are capable of taking a thought 
                            or an idea and transforming it into an incredible 
                            and powerful piece of visual communication.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-5) STARTS HERE-->

<!--MAIN BODY (PART-6) STARTS HERE-->
<section class=""testimonial>
    <div class="containers">
        <div class="row">
            <div class="title">
                <h2>Our Clients</h2>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Huion.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Kai-3d-service.jpg" alt="testimonial">
                    </div>        
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/multimedia-kingdom.jpg" alt="testimonial">
                    </div>       
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Shop-vitamis.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/umme's-kitchen.jpg" alt="testimonial">
                    </div>        
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Wacom.jpg" alt="testimonial">
                    </div>       
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/xp-pen.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
            </owl-carousel-o>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-6) ENDS HERE-->