<section class="about-us">
    <div class="containers">
        
    </div>
    <h1>About Us</h1>
    <p>Smart Voice is a technology, innovation and creativity driven company located in Dhaka, 
        Bangladesh that strives to combine matchless creativity and business values to offer 
        the clients with an incredible range of System Integration, Value added services & 
        different IT solutions and services. With over 30 large emprise customers including 
        leading Telcos and Banks, we are one of the fastest growing IT companies in the country.
    </p> 
    <p>
        Formed by business and technology leaders of Bangladesh having over a decade of recognized 
        technical & business track records, we strongly believe in the potential of our local human 
        resources, and endeavor to develop technical competency locally with the help of our world-class 
        IT solution partners. We strive to help our clients to do better business by leveraging 
        our wide-experience, deep technology expertise in IT and ITES Solutions, and comprehensive 
        portfolio of technical services within client’s footsteps. We ensure excellence in service 
        delivery by adopting international standard for quality and process management.
    </p>
    <h2>Our IT solution portfolio can be summarized into following major categories:</h2>
    <li>System Integration</li>
    <li>Complete IT Infrastructure solution</li>
    <li>Database and Application Solution.</li>
    <li>IT Physical and Cyber Security Solution.</li>
    <li>Professional Services & Managed IT Operation.</li>
    <li>Messaging Solution</li>
    <p>Smart Voice aims to drive digital transformation by using People, Processes and Technology. 
        Our managed service platform and solutions help Operators, Enterprises and Consumers to 
        adapt and grow with technology and move towards digital transformation.
    </p>
</section>