<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <div class="slide">
        <div class="row">
            <div class="col-md-7">
                <div class="slide-content">
                    <h2>SOFTWARE DEVELOPMENT</h2>
                    <p>We do software designing, programming, documenting, 
                        testing, <br>and bug fixing involved in creating and 
                        maintaining applications, <br>frameworks, or other 
                        software components.
                    </p>
                    <a routerLink="/contact">
                        <button type="button" class="btn">Contact Us</button>
                    </a>
                </div> 
            </div>
            <div class="col-md-5">
                <div class="slide-image">
                    <img src="../assets/Images/Bg-4-01.png" alt="testimonial">
                </div>    
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="main-body-part2">
    <div class="containers">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>Software development involves writing and maintaining 
                        the source code, but in a broader sense, it includes 
                        all processes from the conception of the desired software 
                        through to the final manifestation of the software, 
                        typically in a planned and structured process.
                    </p>
                </div>
            </div>
        </div>
        <div class="containers">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb2-image">
                        <marquee  behavior="slide" direction="right">
                            <img src="../assets/Images/web-development.png">
                        </marquee> 
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb2-content">
                        <h1>Web Development</h1>
                        <p><span>We Provide Best Web Development Services</span> with 
                            millions of websites on the internet you want to be sure your 
                            website stands out, represents you, and helps your organization grow.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb2-content">
                        <h1>App Development</h1>
                        <p><span>We Provide Best App Development,</span> we implify 
                            your ideas into Mobile applications and provides the highest 
                            quality development services.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb2-image2">
                        <img src="../assets/Images/new-apps-develop.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->

<!--MAIN BODY (PART-3) STARTS HERE-->
<section class="main-body-part3">
    <div class="containers">
        <div class="row">
            <div class="col-md-12">
                <div class="mb3-title">
                    <h1>Technical Expertise</h1>
                    <h2>Our areas of technical proficiency</h2>
                    <p><span>Note:</span> These are the technologies we have implemented across Projects</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="mb3-content">
                    <h1>Back End</h1>
                    <p>Java, Node JS, PHP</p>
                </div> 
            </div>
            <div class="col-md-2">
                <div class="mb3-content">
                    <h1>Front End</h1>
                    <p>Angular, React JS, Vue.Js</p>
                </div>   
            </div>
            <div class="col-md-2">
                <div class="mb3-content">
                    <h1>Mobile App</h1>
                    <p>React Native, Ionic, Flutter</p>
                </div>   
            </div>
            <div class="col-md-2">
                <div class="mb3-content">
                    <h1>UI/UX</h1>
                    <p>Invision, Figma, Adobe XD, Sketch, Zeplin</p>
                </div>    
            </div>
            <div class="col-md-2">
                <div class="mb3-content">
                    <h1>Tools</h1>
                    <p>MuleSoft, GitHub, Maven, Gradle, Kafka, RabbitMQ, NPM</p>
                </div>    
            </div>
            <div class="col-md-2">
                <div class="mb3-content">
                    <h1>QA</h1>
                    <p>Manual Testing, Selenium, Appium, Jest, Junit, Cucumber</p>
                </div>         
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="mb3-content">
                    <h1>Dev Ops</h1>
                    <p>Micro Services, Dockers, Kubernetes, Jenkins, Ansible, AWS, Jira</p>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="mb3-content">
                    <h1>Database</h1>
                    <p>MySQL, Oracle, MongoDB, PostgreSQL, Cassandra, Redis, Elastic Search</p>
                </div>    
            </div>
            <div class="col-md-3">
                <div class="mb3-content">
                    <h1>Frameworks</h1>
                    <p>Spring Boot, Spring Cloud, Webpack, React Rewired, Hibernate, Junit, Karma, Corda, Hyperledger</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb3-content">
                    <h1>Data Analytics</h1>
                    <p>Python, Django, Scala, R, Tableau, Power BI, ML, Sentiment Analysis, Recommendation System, Customer Segmentation, Graph Networks</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-3) ENDS HERE-->