<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="row">
            <div class="title">
                <h2>Our Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Oracle.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/6d-technologies.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Ada.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/joycall.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Nokia.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Gms.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Subex.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Pelatro.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/imo.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/Mx-Plyer.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/optiva.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partners">
                    <img src="../assets/Images/vmware.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="partner">
                    <img src="../assets/Images/likee.jpg">
                </div>
            </div>
            <div class="col-md-2">
                <div class="partner">
                    <img src="../assets/Images/Monty-mobile.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->