<section class="main-body-part1">
    <div class="slide">
        <div class="row">
            <div class="col-md-7">
                <div class="slide-content">
                    <h2>AD TECH & PUBLISHER SOLUTION</h2>
                    <p>Ad Tech & Publisher Solution is an important part of running a 
                        <br>digital advertising campaign. Advertisers use adtech to buy, <br>manage, 
                        and measure digital advertising.
                    </p>
                    <a routerLink="/contact">
                        <button type="button" class="btn">Contact Us</button>
                    </a>
                </div> 
            </div>
            <div class="col-md-5">
                <div class="slide-image">
                    <img src="../assets/Images/Bg-2-01-01.png" alt="testimonial">
                </div>    
            </div>
        </div>
    </div>
</section>

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <h2>DISPLAY ADS</h2>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/dsp.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can offer our clients our DSP inventores for better ad server.</p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/tiktok.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>Partnering with TikTok allows us to push ads to TikTok users.</p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/comms.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can push communication on share it as well.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/imo.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can push post-call ads on IMO as message and visuals</p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/bigo.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can also reach bigo live users for Communication.</p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/viber.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can connect with Viber users in Viber chat List.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/likee.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can also push ads on Likee as both static and dynamic contents.</p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/mxplayer.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can place post-video ads and display ads in MX player</p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="main-body-part2-images">
                    <img src="../assets/Images/caller.png" alt="si.png" class="center">
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-body-part2">
                    <p>We can push Communication in true caller as well.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->

<!--MAIN BODY (PART-3) STARTS HERE-->
<section class=""testimonial>
    <div class="containers">
        <div class="row">
            <div class="title">
                <h2>Our Valuable Clients</h2>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Ada.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/banglalink.jpg" alt="testimonial">
                    </div>        
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Pran.jpg" alt="testimonial">
                    </div>       
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/nagad.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Magnito.jpg" alt="testimonial">
                    </div>        
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Mentors.jpg" alt="testimonial">
                    </div>       
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Robi.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/upay.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Vivo.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Asiatic-360.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Mindshare.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Tvs.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Walton.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Hero.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Teletalk.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Samsung.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Jarvis-digital.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Bikroy.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Arong.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Doc-Time.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Adblive.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/adfinix.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Ad-mobilize.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/media-com.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Analyzan-bd.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Asiatic.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Asiatic-Mindshare.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Asiatic-talkpoint.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/intellivision.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Fx-Gear.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Grey-group.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Madly.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Transsion-holding.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Alisha-mart.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/Papyrus.jpg" alt="testimonial">
                    </div>        
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                        <img src="../assets/Images/m-power.jpg" alt="testimonial">
                    </div>        
                </ng-template> 
            </owl-carousel-o>
        </div>
    </div>
</section>
<!--MAIN BODY (PART-3) ENDS HERE-->