<!--MAIN BODY (PART-1) STARTS HERE-->
<section class="main-body-part1">
    <owl-carousel-o [options]="mainBodyPart1">
        <ng-template carouselSlide>
            <div class="slide1">
                <div class="row">
                    <div class="col-md-7">
                        <div class="slide-content">
                            <h2>System Integrations</h2>
                            <p>Simple, reliable, easy to perate & maintain IT infrastructure <br>& systems for our clients</p>
                            <a routerLink="/system-integrations">
                                <button type="button" class="btn">READ MORE <i class="fa fa-chevron-right"></i></button>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-md-5">
                        <div class="slide-image">
                            <img src="../assets/Images/Bg-1-01-01.png" alt="testimonial">
                        </div>    
                    </div>
                </div>
            </div>         
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide2">
                <div class="row">
                    <div class="col-md-7">
                        <div class="slide-content">
                            <h2>AD Tech & Publisher Solution</h2>
                            <p>Programmatic DSP, SSP, Gaming Solution, Performance <br>Advertising, IMO, Likee, Truecaller</p>
                            <a routerLink="/ad-tech-and-publisher">
                                <button type="button" class="btn">READ MORE <i class="fa fa-chevron-right"></i></button>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-md-5">
                        <div class="slide-image">
                            <img src="../assets/Images/Bg-2-01-01.png" alt="testimonial">
                        </div>    
                    </div>
                </div>
            </div>         
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide3">
                <div class="row">
                    <div class="col-md-7">
                        <div class="slide-content">
                            <h2>Messaging Solution</h2>
                            <p>Reaching Out to customer of any operator is possible <br>through us</p>
                            <a href="https://smart-lab.biz/bulk-sms/">
                                <button type="button" class="btn">READ MORE <i class="fa fa-chevron-right"></i></button>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-md-5">
                        <div class="slide-image">
                            <img src="../assets/Images/Bg-3-01.png" alt="testimonial">
                        </div>    
                    </div>
                </div>
            </div>         
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide4">
                <div class="row">
                    <div class="col-md-7">
                        <div class="slide-content">
                            <h2>Software Development</h2>
                            <p>Mobile Apps Development, Wev Development, Flexibility & Architecture</p>
                            <a routerLink="/software-development">
                                <button type="button" class="btn">READ MORE <i class="fa fa-chevron-right"></i></button>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-md-5">
                        <div class="slide-image">
                            <img src="../assets/Images/Bg-4-01.png" alt="testimonial">
                        </div>    
                    </div>
                </div>
            </div>         
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide5">
                <div class="row">
                    <div class="col-md-7">
                        <div class="slide-content">
                            <h2>Digital Engagements</h2>
                            <p>SEO, SEM, SMM & Graphic Design</p>
                            <a routerLink="/digital-engagements">
                                <button type="button" class="btn">READ MORE <i class="fa fa-chevron-right"></i></button>
                            </a>
                        </div>
                        
                    </div>
                    <div class="col-md-5">
                        <div class="slide-image">
                            <img src="../assets/Images/Bg-5-01.png" alt="testimonial">
                        </div>    
                    </div>
                </div>
            </div>         
        </ng-template>
    </owl-carousel-o>
</section>


<!--MAIN BODY (PART-1) ENDS HERE-->

<!--MAIN BODY (PART-2) STARTS HERE-->
<section class="bg-color">
<div class="containers">
    <div class="title">
        <h2>Our Services</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="main-body-part2-images">
                <img src="../assets/Images/Bg-1-01-01.png" alt="si.png" class="center">
            </div>
            <div class="main-body-part2">
                
                <a routerLink="/system-integrations">System Integrations</a>
                <ul>
                    <p>Supply, Installation of Active part include of switch, Router server, Storage, VM & Oracle.</p>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-body-part2-images">
                <img src="../assets/Images/Bg-2-01-01.png" alt="si.png" class="center">
            </div>
            <div class="main-body-part2">
                <a routerLink="/ad-tech-and-publisher">AD Tech & Publisher Solution</a>
                <ul>
                    <p>Programmatic DSP, SSP, Gaming Solution, Performance Advertising, IMO,Likee & Truecaller.</p>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-body-part2-images">
                <img src="../assets/Images/Bg-3-01.png" alt="si.png" class="center">
            </div>
            <div class="main-body-part2">
                <a href="https://smart-lab.biz/bulk-sms/">Messaging Solution</a>
                <ul>
                    <p>Bulk SMS, IMO Messaging & WhatsApp for Business.</p>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="main-body-part2-images">
                <img src="../assets/Images/Bg-4-01.png" alt="si.png" class="center">
            </div>
            <div class="main-body-part2">
                <a routerLink="/software-development">Software Development</a>
                <ul>
                    <p>Mobile Apps Development, Web Development, Flexibility & Architecture.</p>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-body-part2-images">
                <img src="../assets/Images/Bg-5-01.png" alt="si.png" class="center">
            </div>
            <div class="main-body-part2">
                <a routerLink="/digital-engagements">Digital Engagements</a>
                <ul>
                    <p>SEO, SEM, SMM & Graphic Design.</p>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-body-part2-images">
                <img src="../assets/Images/Bg-6-01.jpg" alt="si.png" class="center">
            </div>
            <div class="main-body-part2">
                <a href="">Telecom Value Added Services</a>
                <ul>
                    <p>Supply, Installation of Active part include of switch, Router server, Storage, VM & Oracle.</p>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<!--MAIN BODY (PART-2) ENDS HERE-->

<!--MAIN BODY (PART-3) STARTS HERE-->
<section class="testimonial">
<div class="containers">
    <div class="row">
        <div class="title">
            <h2>Our Partners</h2>
        </div>
    </div>
    <div class="row">
        <owl-carousel-o [options]="testimonialSlider">
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Oracle.jpg" alt="testimonial">     
                </div>       
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/6d-technologies.jpg" alt="testimonial">
                </div>      
            </ng-template>  
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Ada.jpg" alt="testimonial">
                </div>      
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/joycall.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Nokia.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Gms.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Subex.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Pelatro.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/vmware.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/imo.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Mx-Plyer.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/optiva.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/likee.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Monty-mobile.jpg" alt="testimonial">
                </div>        
            </ng-template>    
        </owl-carousel-o>
    </div>
</div>
</section>

<!--MAIN BODY (PART-3) ENDS HERE-->

<!--MAIN BODY (PART-4) STARTS HERE-->
<section class="main-body-part4">
<div class="containers">
    <div class="row">
        <div class="col-md-5">
            <img src="../assets/Images/body4.png" alt="Footer-Logo" class="center">
        </div>
        <div class="col-md-7">
            <div class="client-count-wrp">
                <div class="container">
                    <div class="heading">
                        <h4>Experiences Delivered</h4>
                    </div>
                    <div class="client-count-wrp-inner">
                        <div class="cards">
                            <h4>{{projectcount}}</h4>
                            <p><span>Years</span> of combined team experience.</p>
                        </div>
                        <!--card-->
                        <div class="cards">
                            <h4>{{accuratecount + "+"}}</h4>
                            <!--concat % sign-->
                            <p><span>Million</span> Users served indirectly and growing.</p>
                        </div>
                        <!--card-->
                        <div class="cards">
                            <h4>{{clientcount+ "+"}}</h4>
                            <p><span>Million</span> Seamless transactions across the globe every day.</p>
                        </div>
                        <!--card-->
                        <div class="cards">
                            <h4>{{"$" + customerfeedback + "B+"}}</h4>
                            <p><span>Billion</span> Worth of Processed transactions per year.</p>
                        </div>
                        <!--card-->
                    </div>
                </div>              
            </div>         
        </div>
    </div>
</div>
</section>
<!--MAIN BODY (PART-4) ENDS HERE-->

<!--MAIN BODY (PART-5) STARTS HERE-->
<section class=""testimonial>
<div class="containers">
    <div class="row">
        <div class="title">
            <h2>Our Clients</h2>
        </div>
    </div>
    <div class="row">
        <owl-carousel-o [options]="testimonialSlider">
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Ada.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/banglalink.jpg" alt="testimonial">
                </div>        
            </ng-template>  
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Pran.jpg" alt="testimonial">
                </div>       
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/nagad.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Magnito.jpg" alt="testimonial">
                </div>        
            </ng-template>  
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Mentors.jpg" alt="testimonial">
                </div>       
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Robi.jpg" alt="testimonial">
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/upay.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Vivo.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Asiatic-360.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Mindshare.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Tvs.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Walton.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Hero.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Teletalk.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Samsung.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Jarvis-digital.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Bikroy.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Arong.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Doc-Time.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Adblive.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/adfinix.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Ad-mobilize.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/media-com.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Analyzan-bd.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Asiatic.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Asiatic-Mindshare.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Asiatic-talkpoint.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/intellivision.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Fx-Gear.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Grey-group.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Madly.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Transsion-holding.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Alisha-mart.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/Papyrus.jpg" alt="testimonial">
                </div>        
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="../assets/Images/m-power.jpg" alt="testimonial">
                </div>        
            </ng-template> 
        </owl-carousel-o>
    </div>
</div>
</section>
<!--MAIN BODY (PART-5) ENDS HERE-->